
body {
	background-color:#212121;
}
section {
	height: 100vh;
	position: relative;
}

.skill-img {
	height: 80px;
	display: inline-block;
}


.img-wrapper {
	display: inline-block;
	width: 33%;
}

.img-container {
	
	margin-left: 200px;
}

.content {
	display: inline-block;
	text-align: center;
	width: 33%
}

.content-container {
	margin-left: 80px;
	margin-right: 80px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 18px;
}


.skill {
	display: inline-block;
	width: 33%
}

.skill-container {
	margin-left: 180px;
	font-family: 'Pompiere', cursive;
	color: white;
	font-size: 24px;
}

.heading {
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	color: white;
	font-size: 48px;
	position: relative;
	top: 45%;
}


.section-container {
	position: relative;
	top: 50%;
}


