

body {
	margin: 0px;
	background-color: #f5f5f5;
}

.topnav {
	opacity:.5;
	background-color: black;
	width: 100%;
	position: fixed;
}


.navbar {
	list-style-type: none;
	overflow: hidden;
	display: block;
	margin: 0;
	margin-right: 40px;
}

.navbar-item a{
	font-family: 'News Cycle', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
}

.navbar-item a:hover {
	font-family: 'Open Sans Condensed', sans-serif;
    color: rgba(0,0,0,.7);
	background-color: white;
	color: black;
}

.navbar-item a.active {
	background-color: white;
	color: white;
}

.topnav a:link{
	text-decoration: none;
}


.section {
	margin-top: 70px;
	margin-left: 50px;
	margin-right: 25px;
	display: inline-block;

}

.self-photo {
	border-radius: 50%;
	height: 450px;

}

#bio {
	display: inline-block;
}

#images {
	display: inline-block;
}

.class {
	display: inline-block;
}

.class {
	display: inline-block;
}

#bio {
	width: 500px;
	font-family: 'Oswald', sans-serif;
	font-weight: 70;
    font-size: 24px;
    color: rgba(0,0,0,.7);
    text-align: center;
    position: relative;
    bottom: 80px;
    left: 50px;
}

