
body {
	background-color:#212121;
	margin: 0px;
	
}

section {
	position: relative;
	height:100vh;
}

.self-photo {
	position: relative;
	top: 50px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 80px;
	padding-bottom: 80px;
	border-radius: 50%;
	height: 450px;

}


.text-animation {
	/*position: relative;*/
	list-style: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-10%) translateY(-50%);
	z-index: 1;
}

.text-animation li{
	display: inline-block; /*next to each other*/
	/*margin-right: 5px;*/
	font-family: sans-serif;
	font-weight: 300;
	font-size: 5em;
	color: #e0e0e0;
	transition: all 2.5s ease;
	opacity: 1;

}

.text-animation li:last-child {
	margin-right: 0;

}

.text-animation.hidden li {
	opacity: 0;

}


.text-animation.hidden li:nth-child(1) {transform: translateX(-50px) translateY(-50px) ;}
.text-animation.hidden li:nth-child(2) {transform: translateX(20px) translateY(10px) ;}
.text-animation.hidden li:nth-child(3) {transform: translateX(-50px) translateY(-80px) ;}
.text-animation.hidden li:nth-child(4) {transform: translateX(10px) translateY(-20px) ;}
.text-animation.hidden li:nth-child(5) {transform: translateX(-100px) translateY(20px) ;}
.text-animation.hidden li:nth-child(6) {transform: translateX(20px) translateY(-20px) ;}
.text-animation.hidden li:nth-child(7) {transform: translateX(30px) translateY(20px) ;}
.text-animation.hidden li:nth-child(8) {transform: translateX(20px) translateY(100px) ;}
.text-animation.hidden li:nth-child(9) {transform: translateX(-20px) translateY(30px) ;}
.text-animation.hidden li:nth-child(10) {transform: translateX(-50px) translateY(-80px) ;}
.text-animation.hidden li:nth-child(11) {transform: translateX(10px) translateY(-20px) ;}
.text-animation.hidden li:nth-child(12) {transform: translateX(10px) translateY(-60px) ;}
.text-animation.hidden li:nth-child(13) {transform: translateX(-10px) translateY(70px) ;}
.text-animation.hidden li:nth-child(14) {transform: translateX(10px) translateY(-20px) ;}
.text-animation.hidden li:nth-child(15) {transform: translateX(10px) translateY(-40px) ;}
.text-animation.hidden li:nth-child(16) {transform: translateX(-10px) translateY(60px) ;}





